/target/
**/*.rs.bk
.sqlx/prepare.db
db/
!src/db/

# Local env/config
.env
.env.*

# IDEs/editors
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
# Databases
*.db
*.db-wal
*.db-shm
*.db-journal
*.sqlite
*.sqlite3

# Local configs
*.toml
!Cargo.toml
!config.toml.example

# Local artifacts
*.exe
/TEAMTALK_DLL/
/temp_files/
